# Исключить папки bin и obj
**/bin/
**/obj/

# Исключить файлы Visual Studio
**/*.user
**/*.suo

# Исключить временные файлы и папки
**/.vs/
**/.vscode/

# Исключить пакеты NuGet
**/packages/

# Исключить логи
**/*.log
